* {
    margin: 0px;
    padding: 0px;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}


.main {
    width: 100%;
    background: lightblue;
}

.mid {
    width: 1200px;
    height: 1000px;

    background-color: lightcoral;
    margin: auto;
    position: relative;
}
.one {
    position: relative;
}

.one hr:nth-child(1) {
    width: 5px;
    height: 300px;
    background-color: black;
    margin: auto;
}

.one hr:nth-child(2) {
    width: 25%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 200px;
    right: 297px;
    float: right;
}

.one hr:nth-child(3) {
    width: 60%;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 300px;
    right: 300px;
    float: right;
}


.one hr:nth-child(4) {
    width: 5px;
    height: 450px;
    background-color: yellow;
    position: absolute;
    top: 307px;
    left: 179px;
}

.one hr:nth-child(5) {
    width: 5px;
    height: 470px;
    background-color: lightgreen;
    position: absolute;
    top: 307px;
    right: 300px;
}

.one_left {
    width: 5px;
    height: 500px;
    background-color: lightgreen;
    position: absolute;
    top: 307px;
    left: 179px;
}

.one hr:nth-child(6) {
    width: 100px;
    height: 5px;
    background-color: yellow;
    position: absolute;
    top: 399px;
    left: 133px;
}

.one hr:nth-child(7) {
    width: 100px;
    height: 5px;
    background-color: lightgreen;
    position: absolute;
    top: 490px;
    left: 133px;
}

.one hr:nth-child(8) {
    width: 100px;
    height: 5px;
    background-color: lightgreen;
    position: absolute;
    top: 581px;
    left: 133px;
}

.one hr:nth-child(9) {
    width: 100px;
    height: 5px;
    background-color: lightgreen;
    position: absolute;
    top: 672px;
    left: 133px;
}

.one hr:nth-child(10) {
    width: 350px;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 399px;
    right: 130px;
}

.one hr:nth-child(11) {
    width: 350px;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 490px;
    right: 130px;
}

.one hr:nth-child(12) {
    width: 350px;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 581px;
    right: 130px;
}

.one hr:nth-child(13) {
    width: 350px;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 672px;
    right: 130px;
}

.one hr:nth-child(14) {
    width: 150px;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 773px;
    right: 225px;
}

.card_main {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0px;
    left: 0px;
}

.card_top .card_left {
    float: left;
    width: 30%;
}

.card_top .card_left img{
    height: 95%;
    width: 95%;
    float: left;
}

.card_top .card_right {
    float: left;
    width: 70%;
}

.card_top .card:nth-child(1) {
    background-color: aliceblue;
    overflow: hidden;
    width: 270px;
    padding: 5px;
    position: absolute;

    top: 0px;
    left: 0px;
    right: 0px;

    margin: auto;

}

.card_top .card:nth-child(2) {
    background-color: aliceblue;
    overflow: hidden;
    width: 270px;
    padding: 5px;
    position: absolute;
    top: 145px;
    left: 380px;
    right: 0px;
    margin: auto;

}


/*  */


.card_bottom {
    background-color: aqua;
    position: absolute;
    top: 145px;
    left: 0px;

}

.card_bottom .card {
    background-color: blueviolet;
}

.card_bottom .card_left {
    float: left;
    width: 30%;
}

.card_bottom .card_left img{
    height: 95%;
    width: 95%;
    float: left;
}

.card_bottom .card_right {
    float: left;
    width: 70%;
}

.card_bottom .card:nth-child(1) {
    background-color: aliceblue;
    overflow: hidden;
    width: 270px;
    padding: 5px;
    position: relative;
}

.card_bottom .card:nth-child(1)::before {
    content: "";
    position: absolute;
    background-color: red;
    height: 20px;
    width: 20px;

    left: 100%;
    top: 0px;
    display: block;
    z-index: 50;
}