* {
    margin: 0px;
    padding: 0px;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}


.main {
    width: 100%;
    height: 500px;
    background: lightblue;
}

.mid {
    width: 1200px;
    height: 500px;

    background-color: lightcoral;
    margin: auto;
}